section {
    position: relative;
    min-height: 100px; /* Set a minimum height */
}

.titleText {
    text-align: center;
    font-size: 30px;
    padding-top: 1rem;
}

.search-filter-box {
    border: 1px solid gray;
    padding: 20px;
    background-color: #F9F9F9;
    margin-bottom: 20px;
}

.success-message {
    text-align: center;
    color: green;
    padding-bottom: 20px;
}

.search-container {
    text-align: center;
    margin-bottom: 12px;
}

.search-container form {
    display: inline-block;
    width: 70%;
}

.search-container input[type="text"], 
.search-container select, 
.search-container button {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
}

.search-container select {
    width: 10%;
}

.search-container i {
    padding-right: 20px;
}

.search-container input[type="text"]{
    width: 40%;
}

.filter-container {
    text-align: center;
    margin-top: 20px;
}

.filter-container form {
    display: inline-block;
    width: 70%;
}

.filter-container select {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    width: auto;
}

.filter-container label {
    margin-right: 10px;
    font-size: 16px;
}

.container {
    border: 1px solid grey;
    background-color: #F9F9F9;
    max-width: 1400px;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column; /* Align items vertically */
    margin: auto;
    margin-bottom: 1rem;
}

.container th, .container td{
    text-align: center;
    height: 40px;
    border: 1px solid black;
}

.container tr {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.mypub-th {
    padding-bottom: 12px;
    font-size: 17px;
}

.action-button, .search-container input[type="submit"], .filter-container input[type="submit"] {
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    margin: 0px 7px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 3px 0px;
}

.generate-filter {
    background-color: #007bff; 
    width: 200px;
}

.generate {
    background-color: #007bff; 
}

.view {
    background-color: #04AA6D;
}

.action-button:hover, .search-container input[type="submit"]:hover, .filter-container input[type="submit"]:hover {
    background-color: #a5a5a5;
}

.generate-filter:hover, .generate:hover {
    background-color: #0056b3;
}

.view:hover {
    background-color: #218c65;
}

/* Align the buttons in a row */
.action-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.pagination-links {
    display: flex;
    justify-content: center;
}